body{
    background-color: #2c2929;
    margin: 0px;
    font-family:Arial, Helvetica, sans-serif ;
    letter-spacing: 2px;
}

.baner{
    border-bottom: solid 1px #494343;
    float: left;
    position: fixed;
    top:0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: #383232;
}
.logo{
    float: left;
    width: 200px;
    height: 100%;

}
.logo img{
    margin: 10px 10px 10px 0px;
    height: 30px;
    width: 200px;
}
.button1{
    font-size: 15px;
    width: 100px;
    height: 100%;
    float:left;

}
.button1:hover{
    font-size: 17px;
}
.button1 p{
    margin:13px 0px 0px 20px;
    color:white;
    text-align: center;
}
.c1{
    border-radius: 10px;
    margin: 5px 0px 5px 0px;
}
.wysz{
    margin:5px 0px 5px 10%;
    float:left;
    height: 100%;
    width: 400px;
}
.wysl{
    border-radius: 5px;
    text-align: center;
    float:left;
    margin: 5px 0px 5px 20px;
    width: 100px;
    height: 40px;
    background-color: #1e6683;
    color:white;
}
.wysl p{
    margin: 10px 0px 0px 0px;
}
.rej{
    font-size: 13px;
    border-radius: 5px;
    float: right;
    width: 100px;
    height: 40px;
    margin: 5px 20px 5px 0px;
    background-color: #1e6683;
    color:white;
}
.log{
        font-size: 13px;
    border-radius: 5px;
    color:white;
    float: right;
    width: 100px;
    height: 40px;
    margin: 5px 20px 5px 0px;
    background-color: #797676;

}
.log p, .rej p {
    margin: 12px 0px 5px 10px;
}
.opis{
    padding:50px 0px 0px 0px;
    height: 550px;
    width: 100%;
}
.img{
    float: left;
    border-radius: 10px;
    margin: 40px 0px 0px 50px;
    height: 450px;
    width: 300px;
}
.img img{
    
    border-radius: 10px;
    height: 100%;
    width: 100%;
}
.title{
    font-size: 40px;
    margin: 2% 0px 0px 50px;
    color:white;
    float: left;
    width: 300px;
    height: 50px;
}
.op{
    height: 200px;

    width: 800px;
    margin:130px 0px 0px 400px;
}
.op p{
    color:white;
    margin:15px 5px 5px 5px;
}
.list{
    float: left;
    margin: 40px 0px 0px 50px;
    border-radius: 5px;
    color:white;
    height: 400px;
    width: 300px;
    background-color: #000000;
}
.l1,.l2{
    font-size: larger;
    border-radius: 5px;
    width: 90%;
    background-color: #251f1f;
    margin:10px 0px 0px 10px;
}
.l2{
    background-color: #000000;

}
.video{
    float: left;
}
.video iframe{
    margin: 0px 0px 40px 40px;
    width: 900px;
    height: 500px;
}
.podobne{
    
    float: left;
    height: 300px;
    width: 300px;
    margin: 5px 0px 0px 100px
}
.p1{
    border-radius: 10px;
    padding: 15px 0px 0px 0px;
    height: 35px;
    width: 100px;
    background-color: #1e6683;
    text-align: center;
    color:white;
}
.p2,.p22,.p21{
    border-radius: 5px;
    margin:5px 0px 5px 0px;
    float: left;
    background-color: #757171;
    height: 90px;
    width: 100%;
}
.p3{
    float: left;
    height: 100%;
    width: 60px;
}
.p3 img{
    margin: 5px 0px 0px 5px;
    border-radius:5px;
    height: 80px;
    width: 60px;
}
.p4{
    float: left;
    margin: 0px 0px 0px 10px;
}
